* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
}

.mainbox {
  display: flex;
  justify-content: space-between;
}

.box1 {
  /*border:5px solid red;*/
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  align-items: center;
  gap: 6rem;
}

.image img {
  display: flex;
  width: 70%;
}

.header-navbar {
  /*border: 5px solid;*/
  display: flex;
  margin-left: -5rem;
}

.header-navbar ul {
  list-style: none;
  display: flex;
  gap: 4rem;
  align-items: center;
  font-size: 1.3rem;
}

.header-navbar ul a {
  text-decoration: none;
  color: black;
}

.header-navbar ul a:hover {
  border-bottom: 3px solid rgba(165, 42, 42, 0.753);
}

.header-navbar2 {
  /*border: 5px solid; */
  display: flex;
  padding-right: 2rem;
}

.header-navbar2 ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header-navbar2 ul a {
  text-decoration: none;
  color: black;
}

.header-navbar2 ul a:hover {
  color: gray;
}

.box1 svg {
  display: none;
}

.shop {
  font-size: 0.7rem;
  padding-left: 3rem;
  padding-top: 1.5rem;
  color: gray;
}

.access {
  display: flex;
  /* border:2px solid red; */
}

.access2 {
  display: flex;
  /* border:2px solid blue; */
  width: 6rem;
  padding-left: 3rem;
  padding-top: 7rem;
}

.access2 ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.access2 ul li a:hover {
  color: rgb(0, 0, 0);
}

.access2 ul h1 {
  margin-top: 18rem;
  padding-left: 3rem;
}

.access2 ul li a {
  display: flex;
  text-decoration: none;
  color: gray;
}

.hoodie {
  /* border:2px solid purple; */
  padding-left: 8rem;
  padding-top: 2.2rem;
  line-height: 2.5rem;
  width: 35rem;
}

.hoodie span {
  font-size: 0.8rem;
  color: gray;
}

.hoodie h1 {
  font-family: "Manufacturing Consent", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  margin-left: -0.1em;
}

.hoodie p {
  line-height: 1.3rem;
  padding-top: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: gray;
}

.size {
  padding-top: 1.9rem;
  display: flex;
  justify-content: space-between;
}

.size input {
  border: 0;
  border-bottom: 2px solid grey;
  padding-bottom: 1rem;
  width: 5.3rem;
  font-size: 1rem;
  font-family: monospace;
}

.boxcart {
  /* border:2px solid purple;  */
  height: 4rem;
  padding-left: 0.5rem;
  margin-top: 2.6rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.cart1 {
  border: 2px solid rgba(128, 128, 128, 0.781);
  height: 3.8rem;
  width: 10rem;
  border-radius: 0.2rem;
  padding-top: 0.5rem;
  background-color: black;
  color: white;
}

.cart1:hover {
  background-color: white;
  color: black;
}

.cart2 {
  border: 2px solid rgba(128, 128, 128, 0.781);
  height: 4rem;
  width: 10rem;
  border-radius: 0.2rem;
  padding-top: 0.5rem;
  background-color: white;
  color: black;
}

.cart2:hover {
  background-color: black;
  color: white;
}

.boxe {
  padding-left: 6.8rem;
}

.boxes {
  border: 2px solid gray;
  transform: rotate(270.2deg);
  width: 15.5rem;
  height: 25rem;
  border-radius: 1rem;
  border-left: 0rem;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}

.boxes ul li {
  border: 1.5px solid gray;
  height: 6.2rem;
  list-style: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-right-radius: 1rem;
  line-height: 1.3rem;
  padding: 2rem;
  padding-left: 1rem;
  color: rgb(104, 103, 103);
}

.hoodieimg {
  padding-left: 2rem;
  margin-top: 0.8rem;
}

.num {
  /* border:2px solid red; */
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
}

.num ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: 2rem;
}

.num ul li {
  list-style: none;
}

.num ul li:hover {
  font-size: 2rem;
}

.black {
  padding-left: 1.5rem;
}

.blackbox {
  display: flex;
  gap: 3rem;
  border: 2px solid black;
  width: 7rem;
  height: 3.5rem;
  margin-top: 21.8rem;
  margin-left: -2rem;
  padding-top: 1rem;
  background-color: black;
}

.blackbox i {
  padding-left: 0.7rem;
  color: white;
}

.advert {
  margin-top: -4.8rem;
  /* border:2px solid black;*/
  height: 24.5rem;
  display: flex;
}

.advert1 {
  display: flex;
  /* border:1px solid blue;/ */
  height: 35rem;
  width: 50%;
  background-image: url(./pictures/sweatshirt2-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  background-position: center;
}

.advertbox {
  /*border:1px solid blue; */
  height: 35rem;
  width: 100%;
  background-color: rgba(0, 53, 53, 0.329);
}

.advertbox h1 {
  display: flex;
  justify-content: center;
  padding-top: 12rem;
  color: white;
  font-size: 3.5rem;
}

.advertbox p {
  text-align: center;
  font-size: 1rem;
  margin-top: 2.5rem;
  color: white;
}

.Sbox {
  display: flex;
  padding-left: 10rem;
  margin-top: 3rem;
  gap: 3rem;
}

.Sbox1 {
  border: 2px solid rgba(128, 128, 128, 0.781);
  height: 3rem;
  width: 8rem;
  border-radius: 0.2rem;
  padding-top: 0.7rem;
  justify-content: center;
  color: white;
  display: flex;
}

.Sbox1 a {
  text-decoration: none;
  color: white;
}

.Sbox1:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.66);
}

.Sbox2 {
  border: 2px solid rgba(128, 128, 128, 0.781);
  height: 3rem;
  width: 8rem;
  border-radius: 0.2rem;
  padding-top: 0.7rem;
  justify-content: center;
  color: white;
  display: flex;
}

.Sbox2:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.66);
}

.Sbox2 a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}

.advert2 {
  display: flex;
  /* border:1px solid blue;/ */
  height: 35rem;
  width: 50%;
  background-image: url(./pictures/bagggg_2-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  background-position: center;
}

.advertbox2 {
  /*border:1px solid blue; */
  height: 35rem;
  width: 100%;
  background-color: rgba(112, 139, 144, 0.381);
}

.advertbox2 h1 {
  display: flex;
  justify-content: center;
  padding-top: 12rem;
  color: white;
  font-size: 3.5rem;
}

.advertbox2 p {
  text-align: center;
  font-size: 1rem;
  margin-top: 3rem;
  color: white;
}

.Sbox12 {
  display: flex;
  padding-left: 10rem;
  margin-top: 2.5rem;
  gap: 3rem;
}

.Sbox13 {
  border: 2px solid rgba(128, 128, 128, 0.781);
  height: 3rem;
  width: 8rem;
  border-radius: 0.2rem;
  padding-top: 0.7rem;
  justify-content: center;
  color: white;
  display: flex;
}

.Sbox13 a {
  text-decoration: none;
  color: white;
}

.Sbox13:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.66);
}

.Sbox14 {
  border: 2px solid rgba(128, 128, 128, 0.781);
  height: 3rem;
  width: 8rem;
  border-radius: 0.2rem;
  padding-top: 0.7rem;
  justify-content: center;
  color: white;
  display: flex;
}

.Sbox14:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.66);
}

.Sbox14 a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}

@media screen and (max-width: 1105px) {
  .image img {
    width: 50%;
    padding-left: 1rem;
  }

  .header-navbar {
    margin-left: -12rem;
  }

  .header-navbar ul {
    font-size: 1rem;
    gap: 2rem;
    margin-left: 3rem;
  }

  .hoodie {
    line-height: 2rem;
  }

  .hoodie span {
    font-size: 0.7rem;
  }

  .hoodie h1 {
    font-size: 2.7rem;
  }

  .size input {
    width: 4rem;
    font-size: 0.7rem;
  }

  .boxcart {
    justify-content: center;
    gap: 4rem;
  }

  .cart1 {
    height: 3.5rem;
    width: 8rem;
    font-size: 0.8rem;
  }

  .cart2 {
    height: 3.5rem;
    width: 8rem;
    font-size: 0.8rem;
  }

  .hoodieimg img {
    width: 100%;
    height: 90%;
  }

  .num {
    display: none;
  }

  .blackbox {
    display: none;
  }

  .advertbox p {
    font-size: 0.86rem;
  }

  .advertbox2 p {
    font-size: 0.88rem;
    margin-top: 2.5rem;
  }

  .Sbox {
    padding-left: 6rem;
  }

  .Sbox12 {
    padding-left: 7rem;
    margin-top: 2.7rem;
  }
}

@media screen and (max-width: 970px) {
  .hoodieimg img {
    display: none;
    width: 70%;
    height: 90%;
  }

  .num {
    display: none;
  }

  .blackbox {
    display: none;
  }

  .advert {
    flex-direction: column;
  }

  .advert1 {
    width: 100%;
  }

  .advertbox h1 {
    font-size: 3rem;
  }
  .advertbox p {
    font-size: 0.71rem;
  }

  .Sbox {
    padding-left: 0rem;
    padding: 1rem;
  }

  .Sbox1 {
    width: 100%;
  }

  .Sbox2 {
    width: 100%;
  }

  .advert2 {
    width: 100%;
  }

  .advertbox2 h1 {
    font-size: 3rem;
  }
  .advertbox2 p {
    font-size: 0.71rem;
  }

  .Sbox12 {
    padding-left: 0rem;
    padding: 1rem;
  }

  .Sbox13 {
    width: 100%;
  }

  .Sbox14 {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .mainbox {
    padding-top: 1.5rem;
  }

  .box1 {
    /*border: 5px solid red;*/
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    padding-left: 0.3rem;
    padding-top: 1rem;
  }

  .box1 img {
    width: 13rem;
    /* border: 5px solid blue;*/
  }

  .header-navbar {
    display: none;
  }

  .header-navbar2 {
    display: none;
  }

  .box1 svg {
    display: block;
    /* border: 5px solid green;*/
    margin-left: -15rem;
    margin-top: -0.4rem;
  }

  .shop {
    font-size: 0.5rem;
  }

  .access2 ul {
    font-size: 0.8rem;
  }

  .hoodie {
    padding-left: 3rem;
    padding-right: 1rem;
  }

  .hoodie h1 {
    font-size: 2.5rem;
  }

  .hoodie p {
    font-size: 0.8rem;
    text-align: justify;
  }

  .size input {
    display: flex;
    width: 3rem;
    font-size: 0.7rem;
    gap: 0.5rem;
  }

  .boxcart {
    gap: 1.5rem;
    margin-top: 2rem;
    padding-left: 0rem;
    display: flex;
    flex-direction: column;
  }

  .cart1 {
    height: 3rem;
    width: 100%;
    font-size: 0.6rem;
    padding-top: 0.4rem;
  }

  .cart2 {
    height: 2.9rem;
    width: 100%;
    font-size: 0.6rem;
    padding-top: 0.4rem;
  }

  .access2 ul h1 {
    margin-top: 14rem;
    padding-left: 1rem;
  }

  .boxe {
    padding-left: 0.8rem;
  }

  .boxes {
    height: 15rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    transform: rotate(0deg);
    margin-top: 3rem;
  }

  .boxes ul li {
    height: 3.7rem;
    padding: 1.5rem;
    line-height: 1rem;
    padding-top: 0.7rem;
    font-size: 0.8rem;
  }

  .hoodieimg img {
    display: none;
    width: 70%;
    height: 90%;
  }

  .num {
    display: none;
  }

  .blackbox {
    display: none;
  }

  .advert {
    margin-top: 0rem;
    /* border:2px solid black; */
    height: 15rem;
    margin-top: 1rem;
  }
}
